{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">
  <link href="{% static 'contextmenu/jquery.contextMenu.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/articles.css' %}" rel="stylesheet">
  <link href="{% static 'css/edit.css' %}" rel="stylesheet">
  <link href="{% static 'css/callout.css' %}" rel="stylesheet">
  <script src="{% static 'js/articles.js' %}"></script>
  <script src="{% static 'js/edit.js' %}"></script>
  <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
  <script src="{% static 'contextmenu/jquery.contextMenu.min.js' %}"></script>
  <script src="{% static 'contextmenu/jquery.ui.position.min.js' %}"></script>
  <style>

  </style>

{% endblock head %}

{% block main %}
  {% csrf_token %}
  Article ID: <input id="article_id" value="1">
  Sentence ID: <input id="sentence_id" value="1">
  <button id="search-button" class="btn btn-default" style="height: 30px; line-height: 0">Search</button>
  <div id="compare_area"></div>

  <button class="btn btn-primary" id="summary-button" style="margin-top: 20px">Compute Summary</button>
  <button class="btn btn-warning" id="diff-button" style="margin-top: 20px">Compute Diff</button>

  <h3>Result</h3>
  <div class="sentence-content" id="display"></div>


  <script>
    var data;
    (function () {
      data = {{ data | safe }};
      for (var i = 0; i < data.length; i++) {
        for (var j = 0; j < data[i].length; j++) {
          data[i][j] = JSON.parse(data[i][j]);
        }
      }
    })();
  </script>









  <script>
    var bank = null;

    $(function () {
      var area = $("#compare_area");
      var start_str = "<input type=\"checkbox\"> <textarea class=\"form-control compare_sentence\" style=\"height: 40px\">";
      var end_str = "</textarea>";
      $("#search-button").click(function () {
        var a = $("#article_id").val();
        var s = $("#sentence_id").val();
        area.empty();
        for (var i = 0; i < data[a].length; i++) {
          area.append(start_str + data[a][i][s].clean_sentence + end_str);
        }
      });
      $("#summary-button").click(function () {
        var csrf = $("input[name='csrfmiddlewaretoken']").val();
        var sentence_array = [];
        $(".compare_sentence").each(function () {
          sentence_array.push($(this).val());
        });
        $.ajax({
          url: '{% url "summary_test" %}',
          data: {
            'csrfmiddlewaretoken': csrf,
            'sen_list': JSON.stringify(sentence_array),
            'art_id': $("#article_id").val(),
            'sen_id': $("#sentence_id").val()
          },
          cache: false,
          type: 'post',
          success: function (json) {
            var data = JSON.parse(json);
            bank = data.data;
            $("#display").html(data.str);
          }
        });
      });
      $("#diff-button").click(function () {
        var csrf = $("input[name='csrfmiddlewaretoken']").val();
        var sentence_array = [];
        var selected_array = [];
        var selected_sentence = [];
        $(".compare_sentence").each(function () {
          sentence_array.push($(this).val());
        });
        $("input[type='checkbox']").each(function () {
          selected_array.push($(this).prop('checked'));
        });
        for (var i = 0; i < selected_array.length; i++) {
          if (selected_array[i]) {
            selected_sentence.push(sentence_array[i]);
          }
        }
        $.ajax({
          url: '{% url "merge_api" %}',
          data: {
            'csrfmiddlewaretoken': csrf,
            'sen_A': selected_sentence[0],
            'sen_B': selected_sentence[1],
            'sen_id': $("#sentence_id").val(),
            'ver_id': -2,
            'origin': sentence_array[0],
          },
          cache: false,
          type: 'post',
          success: function (json) {
            var data = JSON.parse(json);
            bank = data.data;
            $("#display").html(data.str);
          }
        });
      });
    });
  </script>

  <script>
    $(function () {
      $.contextMenu({
        selector: '.replace',
        trigger: 'hover',
        delay: 200,
        autoHide: true,

        build: function ($trigger, e) {
          // this callback is executed every time the menu is to be shown
          // its results are destroyed every time the menu is hidden
          // e is the original contextmenu event, containing e.pageX and e.pageY (amongst other data)
          var pk = $(e.currentTarget).data('pk');
          var return_menu = {};
          $.each(bank[pk], function (index, bundle) {
            if (index != 0) {
              // return_menu['<del>' + bank[pk][0].word + '</del><ins>' + bundle.word + '</ins>'] = {
              return_menu[bundle.word] = {
                name: bundle.word,
                icon: function (opt, $itemElement, itemKey, item) {
                  $itemElement.html('<span class="label label-info" style="margin-right: 5px;">' + bundle.count + '</span>' + bundle.word + opt.selector);
                }
              }
            } else {
              return_menu[bundle.word] = {
                name: bundle.word,
                icon: function (opt, $itemElement, itemKey, item) {
                  $itemElement.html('<span class="label label-info" style="margin-right: 5px;">' + bundle.count + '</span>' + bundle.word + opt.selector);
                }
              }
            }
          });
          return {
            callback: function (key, options) {
              this.html(key);
            },
            items: return_menu
          }
        }
      });
    });
  </script>


{% endblock main %}
