{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block head %}
  <link href="{% static 'css/signup.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
<div class="cover">
  <h1 class="logo"><a href="{% url 'home' %}">Cept</a></h1>
  <h1 class="logo" style="margin-top: -30px"><a href="{% url 'home' %}"><i class="h4">(<b>C</b>ollaborative <b>E</b>diting &amp; <b>P</b>olising <b>T</b>ool)</i></a></h1>
  <div class="signup">
    <h2>{% trans 'Sign up' %}</h2>
    <form action="{% url 'signup' %}" method="post" role="form">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
          {% endif %}
          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      {% endfor %}
      <div class="form-group" style="margin-top: 25px;">
        <button type="submit" class="btn btn-primary"><b>{% trans 'Create an account' %}</b></button>
        <a href="{% url 'home' %}" class="btn btn-link">{% trans 'Try CEPT directly' %}</a>
      </div>
    </form>
  </div>
  <div class="alert alert-info text-justify">
    <h4>Disclaimer:</h4>
      <p>CEPT is a research prototype. It has been tested on the latest version of <b>Safari</b> and <b>Google Chrome</b> and it requires JavaScript to run properly. Some functionalities might not work on other browsers. Try it!</p>
      <!--specially when using ... In particular, when running in Firefox, the ... is not supported.-->
  </div>
</div>
{% endblock body %}
