a,
a:active,
a:hover,
a:focus {
    text-decoration: none;
}

#summary-window {
    border: 15px solid transparent;
    border-top: 55px solid transparent;
}

#sentence-list {
    margin-top: 35px;
    border: 2px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.sentence-block {
    width: calc(100%);
    /*display: inline-block;*/
    font-family: "Georgia", Times, serif;
    /*font-size: 20px;*/
    vertical-align: middle;
    /*line-height: 30px;*/
    border-top: 1px solid #e3e3e3;
}

#sentence-list .sentence-block:first-child {
    border-top: none;
}

.sentence-block .sentence-content {
    padding: 8px 15px;
}

del {
    color: #3399ff;
    text-line-through-color: #6699ff;
}

.hide-del-class del {
    display: none;
}

ins {
    color: #ff3366;
    text-decoration: none;
}

.sentence-content add {
    color: #ff9933;
    text-decoration: none;
}


.sentence-portrait {
    margin-top: 4px;
    width: 40px;
    border-radius: 5px;
    float: left;
    vertical-align: middle;
    border-left: 5px solid transparent;
}

.sentence-comment-button {
    display: inline;
    padding: 6px 10px;
    margin-top: 5px;
}

.sentence-comment-form {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
}

.sentence-comment {
    border-bottom: 1px solid #e3e3e3;
    margin-left: 10px;
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
}

.sentence-comment-list {
    margin-left: 15px;
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    margin-bottom: 5px;
    background-color: #fafafa;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.sentence-comment-list .sentence-comment:last-child {
    border-bottom: none;
}

.sentence-block-left {
    width: 80%;
}

.sentence-block-right {
    width: 20%;
}

.vote-div {
    text-align: center;
    padding-left: 0;
    display: inline-block;
    padding-right: 20px;
    /*margin-left: -20px;*/
}

.sentence-comment-button {
    text-align: center;
    padding-right: 5px;
}

.sentence-comment-vote-number {
    padding: 5px;
}

.sentence-vote {
    display: inline;
    /*font-size: 16px;*/
    cursor: pointer;
    color: #bbb;
}

.sentence-vote:hover,
.sentence-vote.hovered {
    color: #428bca;
}

.voted {
    color: #333;
}

.accept-button {
    cursor: pointer;
    color: #bbb;
}

.accept-button:hover,
.accept-button.hovered {
    color: #428bca;
}


.highlight {
    background-color: #FFFF88;
}

.context {
    opacity: 0.2;
}

.alert {
    position: fixed;
    left: 43%;
    top: 0px;
    z-index: 2000;
}

.context-menu-item {
    padding: 3px 12px;
}

.context-menu-item ins {
    text-decoration: none;
}

.context-menu-item del {
    display: none;
}

.replace {
    display: inline;
    position: relative;
    /*background: #FFFF88;*/
    border-bottom: 2px solid #5EB7E1;
}

/*.replace:before {
    content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
    font-size: 0.6em;
    font-weight: 700;
    font-family: Times New Roman, Serif;
    color: red;
    width: 100%;
    position: absolute;
    top: 12px;
    left: -1px;
    overflow: hidden;
}*/

#sentence-list .replace:after {
    margin-left: -.1em;
    padding-left: .2em;
    padding-right: .2em;
    vertical-align: super;
    font-size: xx-small;
    /*color: #fff;*/
    border-radius: .25em;
}
/*#sentence-list .replace.lv1:after{
    content: "1";
    background-color: rgb(180,230,253);
}
#sentence-list .replace.lv2:after{
    content: "2";
    background-color: rgb(165,225,253);
}
#sentence-list .replace.lv3:after{
    content: "3";
    background-color: rgb(149,219,252);
}
#sentence-list .replace.lv4:after{
    content: "4";
    background-color: rgb(134,214,252);
}
#sentence-list .replace.lv5:after{
    content: "5";
    background-color: rgb(119,209,251);
}
#sentence-list .replace.lv6:after{
    content: "6";
    background-color: rgb(103,203,251);
}
#sentence-list .replace.lv7:after{
    content: "7";
    background-color: rgb(88,198,250);
}
#sentence-list .replace.lv8:after{
    content: "8";
    background-color: rgb(72,192,250);
}
#sentence-list .replace.lv9:after{
    content: "..";
    background-color: rgb(57,187,249);
}*/
#sentence-list .replace.lv1:after{
    content: "1";
    background-color: rgb(180,230,253);
}
#sentence-list .replace.lv2:after{
    content: "2";
    background-color: rgb(149,219,252);
}
#sentence-list .replace.lv3:after{
    content: "3";
    background-color: rgb(119,209,251);
}
#sentence-list .replace.lv4:after{
    content: "4";
    background-color: rgb(88,198,250);
}
#sentence-list .replace.lv5:after{
    content: "..";
    background-color: rgb(57,187,249);
}

.modal-sentence del {
    color: #3399ff;
    text-line-through-color: #6699ff;
}

.modal-sentence ins {
    color: #ff3366;
    text-decoration: none;
}

.modal-footer .toggle {
    float: left;
}

.sentence-list-header {
    /*height: 54px;*/
}

.sentence-list-header .toggle {
    float: right;
    margin-right: 20px;
    margin-top: 8px;
}

.sentence-list-header .header-text {
    /*line-height: 54px;*/
    /*font-family: Chalkboard;*/
    /*font-size: 20px;*/
    display: inline-block;
    margin-left: 15px;
}

.sentence-block .comment-text h5 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin: 0;
    background-color: #f6f6f6;
}

.selected-block .comment-text h5 {
    background-color: #e7f7f7;
}

.sentence-block .comment-text {
    margin-left: 15px;
}

.sentence-list-footer {
    border-top: 1px solid #e3e3e3;
    height: 50px;
    background: #f6f6f6;
    color: #959595;
    /*font-family: 'SimHei';*/
    /*font-weight: bold;*/
}

.sentence-list-footer .footer-text {
    line-height: 50px;
    margin-left: 15px;
    /*font-family: Chalkboard;*/
    /*font-size: 14px;*/
}

#current_sentence:before {
    content: '[';
    color: red;
    position: absolute;
    margin-left: -6px;
}
#current_sentence:after{
    content: ']';
    color: red;
    position: absolute;
    margin-left: -1px;
}

.summary-block .comment-text h5 {
    background-color: #EDFCE7;
}

#sentence-list .label {
    margin-left: 0.6em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.label {
    padding-bottom: 0.2em;
}

#sentence-list .panel-group {
    margin-bottom: 0;
}

#sentence-list .panel-default {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
}

#sentence-list .panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    /*border-top-width: 1px;*/
    /*border-top-style: solid;*/
    border-top: 1px solid #e3e3e3;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
    color: #959595;
}

#sentence-list .panel-heading {
    background-color: #fff;
}

.glyphicon-chevron-down {
    font-size: xx-small;
    border: 1px solid;
    padding: 1px 1px 0 2px;
}
