{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ article.title }}{% endblock %}

{% block head %}
  <link href="{% static 'css/articles.css' %}" rel="stylesheet">
  <script src="{% static 'js/articles.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'articles' %}">{% trans 'Articles' %}</a></li>
    <li class="active">{% trans 'Article' %}</li>
  </ol>
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6">
          <h2><a href="{% url 'article' article.slug %}">{{ article.title }}</a></h2>
        </div>
        <div class="col-md-6">
          <a href="{% url 'edit' article.id %}" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-pencil"></span> {% trans 'Edit' %}
          </a>
          <a href="{% url 'drafts' %}" class="btn btn-danger pull-right" style="margin-right: .8em">{% trans 'Delete' %}</a>
        </div>
      </div>
      <article>
        <div class="info">
          <span class="date">
            <span class="glyphicon glyphicon-calendar"></span>
            {{ article.create_date }}
          </span>
          <span class="user">
            <a href="{% url 'profile' article.create_user.username %}"><img src="{{ article.create_user.profile.get_picture }}"></a>
            <a href="{% url 'profile' article.create_user.username %}">{{ article.create_user.profile.get_screen_name }}</a>
          </span>
          <span class="comments">
            <span class="glyphicon glyphicon-comment"></span>
            {{ article.get_comments.count }} Comments
          </span>
        </div>
        <textarea class="content" id="content" disabled>{{ article.content|safe }}</textarea>
        <script>
          (function() {
            CKEDITOR.config.height = 400;
            var editor = CKEDITOR.replace( "content", {
              removePlugins: 'toolbar'
            });
          })();
        </script>
        {% if article.get_tags %}
          <div class="tags">
            {% for tag in article.get_tags %}
              <a href="{% url 'tag' tag.tag %}"><span class="label label-default">{{ tag }}</span></a>
            {% endfor %}
          </div>
        {% endif %}
      </article>
    </div>
    <div class="col-md-5 popular-tags">
      {% for version in versions %}
        <h5>{{ version.edit_user.profile.get_screen_name }}'s Version</h5>
        <textarea class="content" id="{{ version.id }}" disabled>
          {{ version.content }}
        </textarea>
         <script>
         CKEDITOR.replace("{{ version.id }}", {
           removePlugins: 'toolbar,elementspath',
           height: 140,
{#           resize_enabled: false#}
         })
          </script>
      {% endfor %}

    </div>
  </div>

  <hr>
  <span class="pull-right text-muted" id="comment-helper" style="display: none"><small>{% trans 'Press Ctrl + Enter to post' %}</small></span>
  <h4><span class="comment-count">{{ article.get_comments.count }}</span> {% trans 'Comments' %}</h4>
  <div class="post-comment clearfix">
    <form role="form" id="comment-form">
      {% csrf_token %}
      <input type="hidden" name="article" value="{{ article.pk }}">
      <div class="user-portrait clearfix">
        <img src="{{ user.profile.get_picture }}">
      </div>
      <div class="comment-input clearfix">
        <textarea class="form-control" rows="1" placeholder="{% trans 'Write a comment...' %}" name="comment"
                  id="comment"></textarea>
      </div>
    </form>
  </div>
  <div class="well well-sm" id="comment-list">
    {% for comment in article.get_comments %}
      {% include 'articles/partial_article_comment.html' with comment=comment %}
    {% empty %}
      <div style="padding: .6em 0">{% trans 'Be the first one to comment!' %}</div>
    {% endfor %}
  </div>
{% endblock main %}
