{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ article.title }}{% endblock %}

{% block head %}
  <link href="{% static 'contextmenu/jquery.contextMenu.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/articles.css' %}" rel="stylesheet">
  <link href="{% static 'css/edit.css' %}" rel="stylesheet">
  <link href="{% static 'css/callout.css' %}" rel="stylesheet">
  <script src="{% static 'contextmenu/jquery.contextMenu.min.js' %}"></script>
  <script src="{% static 'contextmenu/jquery.ui.position.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
  <script src="{% static 'js/articles.js' %}"></script>
  <script src="{% static 'js/edit_compare.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'articles' %}">{% trans 'Articles' %}</a></li>
    <li class="active">{% trans 'Article' %}</li>
  </ol>
  <div class="row">
    <div class="col-md-7">
      <h2>{{ form.instance.origin.title }}</h2>
      <article>
        <div class="info">
          <span class="date">
            <span class="glyphicon glyphicon-calendar"></span>
            {{ form.instance.origin.create_date }}
          </span>
          <span class="user">
            <a href="{% url 'profile' form.instance.origin.create_user.username %}"><img
                src="{{ form.instance.origin.create_user.profile.get_picture }}"></a>
            <a href="{% url 'profile' form.instance.origin.create_user.username %}">{{ form.instance.origin.create_user.profile.get_screen_name }}</a>
          </span>
        </div>



        <form id="edit_form" data-id="{{ form.instance.pk }}">
          {% csrf_token %}
          <textarea class="content" id="content">{{ form.instance.content|safe }}</textarea>
        </form>


        <div class="bs-callout bs-callout-info">
          <h4>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
               aria-controls="collapseOne">
              Description
            </a>
          </h4>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              {{ form.instance.origin.description | safe }}
            </div>
          </div>
        </div>

      </article>
    </div>
    <div class="col-md-5 popular-tags" id="side-col">
      <div class="row">
        <div class="col-md-3">
          <input type="checkbox" checked id="hide-del-toggle" data-toggle="toggle" data-size="small"
                 data-on="Show Del" data-off="Hide Del">
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <a class="btn btn-default btn-block" id="cancel-button" style="margin-top: 10px;"
             href="{% url 'articles' %}">{% trans 'Cancel' %}</a>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary btn-block" id="commit-button"
                  style="margin-top: 10px;">{% trans 'Commit' %}</button>
        </div>
      </div>
      <div>
        {% for version in data.versions %}
        <h5>{{ version.edit_user.profile.get_screen_name }}'s Version</h5>
          <textarea class="content" id="editor-{{ version.id }}" disabled>
          {{ version.content }}
        </textarea>
         <script>
           var temp_editor = CKEDITOR.replace("editor-{{ version.id }}", {
             removePlugins: 'toolbar,elementspath, lite',
           height: 150
           });
           temp_editor.on("instanceReady", function (event) {
             $("#cke_editor-{{ version.id }}").addClass("cke_editor_compare");
           });
          </script>
      {% endfor %}
      </div>
    </div>
  </div>

  <script>
    (function () {
      CKEDITOR.config.height = 300;
      var editor = initWithLite('content', true, true);

      commit_ajax.editor = editor;
      editor.on('key', function (e) {
        if (e.data.keyCode == CKEDITOR.SAVE_KEY) {
          commit_ajax();
          e.cancel();
        }
      });
      editor.on('save', function (e) {
        commit_ajax();
        e.cancel();
      });

    })();

  </script>


{% endblock main %}
