{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <link href="{% static 'css/articles.css' %}" rel="stylesheet">
  <link href="{% static 'css/edit.css' %}" rel="stylesheet">
  <link href="{% static 'css/callout.css' %}" rel="stylesheet">
  <script src="{% static 'js/articles.js' %}"></script>
  <script src="{% static 'js/edit.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'articles' %}">{% trans 'Articles' %}</a></li>
    <li>{{ form.instance.origin.title }}</li>
    <li class="active">{% trans 'Edit' %}</li>
  </ol>
  <div class="row">
    <div class="col-md-6">
      <h2>{{ form.instance.origin.title }}</h2>

      <div class="info">
        <span class="date">
          <span class="glyphicon glyphicon-calendar"></span>
          {{ form.instance.origin.create_date }}
        </span>
        <span class="user">
          <a href="{% url 'profile' form.instance.origin.create_user.username %}"><img
              src="{{ form.instance.origin.create_user.profile.get_picture }}"></a>
          <a href="{% url 'profile' form.instance.origin.create_user.username %}">{{ form.instance.origin.create_user.profile.get_screen_name }}</a>
        </span>
        <span class="edit">
          <span class="glyphicon glyphicon-pencil"></span>
          10 Edits
        </span>
        <span class="select">
          <span class="glyphicon glyphicon-search"></span>
          <div id="selected-id" style="display: inline"></div>
        </span>
      </div>

      <form id="edit_form" data-id="{{ form.instance.pk }}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            {{ field }}
            {% if field.help_text %}
              <span class="help-block">{{ field.help_text }}</span>
            {% endif %}
            {% for error in field.errors %}
              <label class="control-label">{{ error }}</label>
            {% endfor %}
          </div>
        {% endfor %}
      </form>

      <div class="bs-callout bs-callout-info">
        <h4>
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
             aria-controls="collapseOne">
            Description
          </a>
        </h4>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            {{ form.instance.origin.description | safe }}
          </div>
        </div>

      </div>

    </div>

    <div class="col-md-6" id="sidebar">
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-default btn-block" id="cancel-button" style="margin-top: 10px;"
             href="{% url 'articles' %}">{% trans 'Cancel' %}</a>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary btn-block" id="commit-button"
                  style="margin-top: 10px;">{% trans 'Commit' %}</button>
        </div>
        </div>
      <div id="sentence-list" hidden="hidden">
        {% include 'articles/partial_sentence.html' with author=user %}
        {% for author in data.authors %}
          {% include 'articles/partial_sentence.html' with author=author %}
        {% endfor %}
      </div>
      <div style="min-height: 300px"></div>
    </div>

    <script>
      (function () {
        var version_id = {{ form.instance.pk }};
        var current_user = "{{ user }}";
        var json_str_array = {{ data.json|safe }};
        init_page(version_id, current_user, json_str_array);
      })();
    </script>
  </div>


{% endblock main %}
