{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <link href="{% static 'contextmenu/jquery.contextMenu.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/articles.css' %}" rel="stylesheet">
  <link href="{% static 'css/edit.css' %}" rel="stylesheet">
  <link href="{% static 'css/callout.css' %}" rel="stylesheet">
  <script src="{% static 'contextmenu/jquery.contextMenu.min.js' %}"></script>
  <script src="{% static 'contextmenu/jquery.ui.position.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
  <script src="{% static 'js/articles.js' %}"></script>
  <script src="{% static 'js/edit.js' %}"></script>


{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'articles' %}">{% trans 'Articles' %}</a></li>
    <li>{{ form.instance.origin.title }}</li>
    <li class="active">{% trans 'Edit' %}</li>
  </ol>
  <div class="row">
    <div class="col-md-6">
      <h2>{{ form.instance.origin.title }}</h2>

      <div class="info">
        <span class="date">
          <span class="glyphicon glyphicon-calendar"></span>
          {{ form.instance.origin.create_date }}
        </span>
        <span class="user">
          <a href="{% url 'profile' form.instance.origin.create_user.username %}"><img
              src="{{ form.instance.origin.create_user.profile.get_picture }}"></a>
          <a href="{% url 'profile' form.instance.origin.create_user.username %}">{{ form.instance.origin.create_user.profile.get_screen_name }}</a>
        </span>
        <!--<span class="edit">
          <span class="glyphicon glyphicon-pencil"></span>
          10 Edits
        </span>-->
        <span class="select">
          {# <span class="glyphicon glyphicon-search"></span> #}
          <span class="glyphicon glyphicon-pencil"></span>
          <div id="selected-id" style="display: inline">Sentence ID</div>
        </span>
      </div>

      <form id="edit_form" data-id="{{ form.instance.pk }}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            {{ field }}
            {% if field.help_text %}
              <span class="help-block">{{ field.help_text }}</span>
            {% endif %}
            {% for error in field.errors %}
              <label class="control-label">{{ error }}</label>
            {% endfor %}
          </div>
        {% endfor %}
      </form>

      <div class="bs-callout bs-callout-info">
        <h4>
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
             aria-controls="collapseOne">
            Description
            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          </a>
        </h4>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            {{ form.instance.origin.description | safe }}
          </div>
        </div>

      </div>

    </div>

    <div class="col-md-6" id="sidebar">
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <a class="btn btn-default btn-block" id="cancel-button"
             href="{% url 'articles' %}">{% trans 'Back' %}
          </a>

        </div>
        <div class="col-md-3">
          <button class="btn btn-primary btn-block" id="commit-button">{% trans 'Save' %}</button>
        </div>
      </div>
      <div id="sentence-list" hidden="hidden">
        <div class="sentence-list-header">
          <div class="header-text h4">Current sentence</div>

          <input id="toggle-sentence-view" class="pull-right" type="checkbox" data-toggle="toggle" data-on="Context" data-off="Context"
                 data-width="70px" data-size="mini">
          <input id="hide-del-toggle" class="pull-right" type="checkbox" data-toggle="toggle" data-on="Delete " data-off="Delete "
                 data-width="70px" data-size="mini">
        </div>
        {% include 'articles/partial/partial_sentence.html' with author=user %}
        {% include 'articles/partial/partial_summary.html' %}
        {% for author in data.authors %}
          {% include 'articles/partial/partial_sentence.html' with author=author %}
        {% endfor %}
        <!--<div class="panel-group" role="tablist">
          <div class="panel panel-default">
            <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
              <ul class="list-group">
                <li class="list-group-item">Bootply</li>
                <li class="list-group-item">One itmus ac facilin</li>
                <li class="list-group-item">Second eros</li>
              </ul>
            </div>
            <div class="panel-heading text-center" role="tab" id="collapseListGroupHeading1">
              <a role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="true" aria-controls="collapseListGroup1">
                Expand summarized edits by <span class="summary-number">3</span> users
                <span class="glyphicon glyphicon-chevron-down"></span>
              </a>
            </div>
          </div>
        </div>-->
        <div id="hided-number-panel" class="panel-heading text-center">
          <i>Hided <span class="omitted-number">?</span> unchanged version</i>
        </div>
        <div class="sentence-list-footer">
          <div class="footer-text">
            <span class="glyphicon glyphicon-info-sign" style="color: #EE693E; vertical-align: text-top;"></span>
            Legend:
            1. <ins>Inserted</ins>
            2. <del>Deleted</del>
            3. <span class="highlight" style="color: black;">Cross-sentence edits</span>
          </div>
        </div>
      </div>
      <div style="min-height: 300px"></div>
    </div>

    <script>
      (function () {
        var current_version = {{ data.current_version_json | safe }};
        var current_user = "{{ user }}";
        var json_str_array = {{ data.json|safe }};
        var summary_list = {{ data.summary | safe }};
        init_page(current_version, current_user, json_str_array, summary_list);
      })();
    </script>
  </div>


  {% include 'articles/merge-modal.html' %}


{% endblock main %}
