{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <link href="{% static 'css/articles.css' %}" rel="stylesheet">
  <link href="{% static 'css/edit.css' %}" rel="stylesheet">
  <script src="{% static 'js/articles.js' %}"></script>
  <script src="{% static 'js/edit.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'articles' %}">{% trans 'Articles' %}</a></li>
    <li><a href="{% url 'article' form.instance.origin.slug %}">{{ form.instance.origin.title }}</a></li>
    <li class="active">{% trans 'Edit' %}</li>
  </ol>
  <div class="row">
    <div class="col-md-8">
      <h2><a href="{% url 'article' form.instance.origin.slug %}">{{ form.instance.origin.title }}</a></h2>

      <div class="info">
        <span class="date">
          <span class="glyphicon glyphicon-calendar"></span>
          {{ form.instance.origin.create_date }}
        </span>
        <span class="user">
          <a href="{% url 'profile' form.instance.origin.create_user.username %}"><img
              src="{{ form.instance.origin.create_user.profile.get_picture }}"></a>
          <a href="{% url 'profile' form.instance.origin.create_user.username %}">{{ form.instance.origin.create_user.profile.get_screen_name }}</a>
        </span>
        <span class="edit">
          <span class="glyphicon glyphicon-pencil"></span>
          10 Edits
        </span>
        <span class="select">
          <span class="glyphicon glyphicon-search"></span>
          <div id="selected-id" style="display: inline"></div>
        </span>
      </div>

      <form id="edit_form" data-id="{{ form.instance.pk }}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            {{ field }}
            {% if field.help_text %}
              <span class="help-block">{{ field.help_text }}</span>
            {% endif %}
            {% for error in field.errors %}
              <label class="control-label">{{ error }}</label>
            {% endfor %}
          </div>
        {% endfor %}
      </form>
      <div id="sentence-list" hidden="hidden">
        {% include 'articles/partial_sentence.html' with author=user %}
        {% for author in data.authors %}
          {% include 'articles/partial_sentence.html' with author=author %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4" id="side-col">
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-default btn-block" id="cancel-button"
                  data-url="{{ form.instance.origin.slug }}">{% trans 'Cancel' %}</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-info btn-block disabled" id="save-button">{% trans 'Save' %}</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary btn-block" id="commit-button">{% trans 'Commit' %}</button>
        </div>
      </div>

      <div class="row">
        <div id="summary-window">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="pill" href="#summary">Summary</a></li>
            <li><a data-toggle="pill" href="#detail">Detail</a></li>
          </ul>
          <div class="tab-content">
            <div id="summary" class="tab-pane fade in active">
              <h3>Summary</h3>
              <p>Not Implemented yet</p>
            </div>
            <div id="detail" class="tab-pane fade">
              <h3>Detail</h3>
              <p>Not Implemented yet</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script>
      (function () {
        var version_id = {{ form.instance.pk }};
        var current_user = "{{ user }}";
        var json_str_array = {{ data.json|safe }};
        var counter = {{ data.counter }};
        initEditPage(version_id, current_user, json_str_array, counter);
      })();
    </script>
  </div>


{% endblock main %}
