<div class="sentence-block" data-author="{{ author }}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-9">
      <a href="{% url 'profile' author.username %}"><img src="{{ author.profile.get_picture }}"
                                                         class="sentence-portrait"></a>
      <div class="comment-text">
        <h5>
          <a href="{% url 'profile' author.username %}">{{ author.profile.get_screen_name }}</a>
          <small class="time">here should be the time</small>
        </h5>
        <div class="sentence-content" style="display: inline"></div>
      </div>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default sentence-comment-button">
        <span class="glyphicon glyphicon-comment" style="display: inline;"></span>
        <div class="comment-count" style="display: inline;">-</div>
      </button>
      <div class="vote-div">
          <span class="glyphicon glyphicon-thumbs-up sentence-comment-vote-span"></span>
        <div class="sentence-comment-vote-number">-</div>
          <span class="glyphicon glyphicon-thumbs-down sentence-comment-vote-span"></span>
        </div>
    </div>
  </div>
  <div class="sentence-comment-block" style="display: none">
    <form role="form" class="sentence-comment-form">
      {% csrf_token %}
      <input type="hidden" name="version_id" value="0">
      <input type="hidden" name="sentence_id" value="0">
      <textarea class="form-control sentence-comment-form" rows="1"
                placeholder="Write a comment..."
                name="sentence-comment">
      </textarea>
    </form>
    <div class="sentence-comment-list"></div>
  </div>


</div>