<div id="block-{{ author }}" class="sentence-block">
  <div class="row">
    <div class="col-md-8 sentence-block-left">
      <a href="{% url 'profile' author.username %}"><img src="{{ author.profile.get_picture }}"
                                                         class="sentence-portrait"></a>
      <div class="comment-text">
        <h5>
          <a href="{% url 'profile' author.username %}">{{ author.profile.get_screen_name }}</a>
          <small id="time-{{ author }}">here should be the time</small>
        </h5>
        <div id="c-{{ author }}" style="display: inline"></div>
      </div>
    </div>
    <div class="col-md-4 sentence-block-right">
      <button class="btn btn-default" onclick="show_comment('{{ author }}')"
              style="display: inline; padding: 6px 10px;">
        <span class="glyphicon glyphicon-comment" style="display: inline;"></span>
        <div id="comment-count-{{ author }}" style="display: inline;">99</div>
      </button>
      <button class="btn btn-default"
              style="display: inline; padding: 6px 10px;">
        <span class="glyphicon glyphicon-thumbs-up" style="display: inline;"></span>
        <div id="up-vote-count" style="display: inline;">99</div>
      </button>
    </div>
  </div>
  <div class="s-comment-block" id="s-comment-block-{{ author }}" style="display: none">
    <form role="form" id="comment-form-{{ author }}">
      {% csrf_token %}
      <input type="hidden" name="version_id" id="version_id-{{ author }}" value="{{ form.instance.pk }}">
      <input type="hidden" name="sentence_id" id="sentence_id-{{ author }}" value="0">
      <textarea class="form-control sentence-comment-form" rows="1"
                placeholder="Write a comment..."
                name="sentence-comment" data-author="{{ author }}"></textarea>
    </form>
    <div class="sentence-comment-list" id="t-{{ author }}"></div>
  </div>


</div>